* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.black-button {
  text-align: center;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  width: 112px;
  height: 24px;
  margin: 0 auto;
  line-height: 23px;
}

.black-subtitle {
  margin-top: 38px;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.black-subtitle-mini {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

* {
  font-family: Roboto, sans-serif;
}

header nav {
  height: 51px;
  background-color: #212121;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  padding-left: 0;
  padding: 0 61px;
}

.menu-item {
  padding: 10px 0px;
  border-right: 2px dotted #444343;
  padding-right: 48px;
}

.menu-item:last-child {
  border-right: none;
  padding-right: 0px;
}

.menu-link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.menu-link:hover {
  color: #ffffff;
}

.subheader {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 85px;
  position: absolute;
  width: 100%;
}

.subheader__flex {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader__flex span {
  padding-left: 10px;
}

.subheader__logo {
  display: inline-block;
}

.subheader__logo-place {
  padding: 0px;
}

.subheader__logo-place span {
  display: inline-block;
  font-family: Nokia-Sans-S60;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #ffffff;
}

.subheader__oficial {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  line-height: 24px;
  color: #ffffff;
}

.subheader__call-to-us {
  margin-top: 21px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.subheader__tel a {
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: 7px;
  margin-left: 5px;
  text-align: right;
}

.subheader__button {
  margin-top: 18px;
  margin-left: 5px;
}

.subheader__button a button {
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 173px;
  height: 48px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: -webkit-linear-gradient(bottom, #1eacc7 0%, #4ce2ff 100%);
  background-image: -o-linear-gradient(bottom, #1eacc7 0%, #4ce2ff 100%);
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.promo {
  position: relative;
  padding-bottom: 130px;
  min-height: 100vh;
}

.promo__backround-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.promo__backround-flex img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.promo__flex-image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
}

.promo__header {
  margin-top: 200px;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__subheader {
  font-size: 36px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.promo__text {
  margin-top: 83px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.more {
  margin-top: 30px;
}

.promo__button {
  margin-top: 116px;
  text-align: center;
}

.promo__button button {
  width: 265px;
  height: 69px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: -webkit-linear-gradient(bottom, #1eacc7 0%, #4ce2ff 100%);
  background-image: -o-linear-gradient(bottom, #1eacc7 0%, #4ce2ff 100%);
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  line-height: 68px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.adventeges {
  padding-top: 71px;
  padding-bottom: 68px;
}

.adventeges__info-block {
  margin-top: 40px;
}

.adventeges__flex {
  margin-top: 6px;
  margin-left: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.adventeges__flex-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 113px;
      -ms-flex: 0 0 113px;
          flex: 0 0 113px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 113px;
  background-color: #872fa7;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.adventeges__flex-text {
  margin-left: 25px;
  margin-top: 16px;
}

.adventeges__flex-text h3 {
  margin-top: 3px;
  font-size: 17px;
  line-height: 20px;
  color: #872fa7;
  margin-bottom: 0;
}

.adventeges__flex-text p {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  color: #202020;
}

.mobile {
  padding: 48px 0px 80px 0px;
  min-height: 864px;
  background: url("../img/bacground/bg_net.png") 0 0 repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile__item {
  padding-top: 91px;
  padding-bottom: 25px;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__item_1 {
  background: url("../img/galery-pic/phone1.png") 0 0 no-repeat;
}

.mobile__item_2 {
  background: url("../img/galery-pic/phone2.png") 0 0 no-repeat;
}

.mobile__item_3 {
  background: url("../img/galery-pic/phone3.png") 0 0 no-repeat;
}

.mobile__item_4 {
  background: url("../img/galery-pic/phone4.png") 0 0 no-repeat;
}

.mobile__item_5 {
  background: url("../img/galery-pic/phone5.png") 0 0 no-repeat;
}

.mobile__item_6 {
  background: url("../img/galery-pic/phone6.png") 0 0 no-repeat;
}

.mobile__item-subtitle {
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.mobile__item-plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin: 0 auto;
}

.mobile__item-plus img {
  width: 100%;
  padding: 6px;
}

.choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.choice__up {
  background-color: #000000;
  min-height: 499px;
}

.choice__down {
  background: url("../img/bacground/bg_net.png") 0 0 repeat;
  min-height: 397px;
}

.choice__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.info__button {
  margin-top: 57px;
  background-color: #ffffff;
  color: #000000;
}

.info__title {
  color: #ffffff;
  margin-top: 32px;
}

.info__subtitle {
  color: #ffffff;
  margin-top: 19px;
}

.info__img {
  margin-top: 56px;
}

.info__img img {
  max-width: 100%;
}

.info__caption {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
}
